		<div class="powered-by">
			<a href="mailto:psbhanu@outlook.com">
				<span class="powered-by-content label label-danger">
					<span class="powered-by-label">Powered by</span>
					<span class="powered-by-text">psbhanu</span>
				</span>
			</a>
		</div>
		<script src="/assets/js/jquery-3.1.0.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/angular.min.js"></script>
		<script src="/assets/js/angular-cookies.min.js"></script>
		<script src="/assets/js/inotepad.app.js"></script>
		<script src="/assets/js/inotepad.app.controllers.js"></script>
	</body>
</html>
